.row-odd {
  background-color: #f3f6f6;
}
tr.row-even > td {
  text-align: center;
}

img.component-image {
  border: none;
  vertical-align: middle;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 85px;
  object-fit: contain;
}

table.docutils {
  width: 100%;
}
